body {
  background-image: url("./list.jpg");
  margin-left: 25px;
}

.todo-input {
  margin-right: 10px;
}

.todo-submit {
  margin-right: 10px;
}

.todo-delete {
  margin-right: 12px;
  margin-bottom: 8px;  
}

button {
  border-radius: 2px;
}

h1 {
  color: orange;
}

li{
  color: orange;
}
